*
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0
  font-family: Verdana, Arial, Helvetica, sans-serif
  color: #5f5f5f
  background-color: #eeeedd


a
  text-decoration: none
  color: #5f5f5f

a:hover
  text-decoration: underline


#container
  width: 900px
  margin: 0 auto


#header
  height: 100px

  h1
    margin: 20px
    width: 550px
    float: left
    color: #5c4430

    a
      color: #5c4430

    a:hover
      text-decoration: none


  #menu
    margin-left: 590px

    ul
      margin: 20px
      list-style-type: none

#menuBar
  clear: both
  height: 60px

  ul
    margin: 0px 80px
    width: 900px
    list-style-type: none

    li
      float: left
      width: 100px
      margin: 15px 20px
      padding: 5px
      border: 1px solid gray
      background-color: #ffffff
      text-align: center

#content
  clear: both


  .photo
    border: 1px solid gray
    margin: 10px
    width: 600px
    min-height: 170px
    background-color: #ffffff
    position: relative

    .thumbnailBox
      width: 150px
      height: 150px
      position: absolute
      top: 10px
      left: 10px
      text-align: center

      img
        border: none
        margin: 0

    .control
      text-align: right
      margin: 10px 10px 0 175px
      padding: 0px 20px

      li
        display: inline
        font-weight: bold

    .photoTitle
      margin: 0 10px 5px 175px

    .photoInfo
      margin: 0 10px 0 175px
      border-top: 1px dashed gray

      dt
        width: 70px
        float: left

      dd
        margin-left: 60px

      th
        font-weight: normal
        text-align: left
        vertical-align: top

  .page_navi
    width: 600px
    text-align: center


  .photoBox
    float: left
    padding: 5px
    border: 1px solid gray
    margin: 10px
    width: 170px
    height: 170px
    background-color: #ffffff
    text-align: center

    a
      border: none

      img.thumbnail
        border: 1px solid gray


  #photo

    width: 900px
    margin: 10px auto
    text-align: center

  #photoInfo

    width: 900px
    margin: 10px 0px 10px 0px
    text-align: center

    table
      width: 600px
      margin-left: 150px

      th
        padding-right: 5px
        font-style: bold
        text-align: right

      td
        padding-left: 5px
        text-align: left

      ul
        list-style-type: none


#footer
  border-top: 1px solid gray
  padding: 10px 20px
  text-align: right
  font-size: small



.highslide-html-content
  width: 2500px
  height: 200px
  padding: 5px


.highslide-wrapper
  background-color: white

  .highslide-html-content
    width: 1000px
    height: 400px
    padding: 5px

  .highslide-header

    ul
      margin: 0
      padding: 0
      text-align: right

      li
        display: inline
        padding-left: 1em

      li.highslide-previous
        display: none

      li.highslide-next
        display: none

    a
      font-weight: bold
      color: gray
      text-transform: uppercase
      text-decoration: none

    a:hover
      color: black

    .highslide-move

      a
        cursor: move

  .highslide-footer
    height: 11px

    .highslide-resize
      cursor: nw-resize
      float: right
      height: 11px
      width: 11px
      background: url(highslide/graphics/resize.gif)
      position: relative
      top: 3px
      left: 3px


