!!! 5

%html
  %head
    %title Sombrero
    %meta{:"http-equiv" => "Content-Type", :comment => "text/html", :charset => "utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    %h2 Edit photo information
    %div
      %form{ :action => "/photo/#{@post.id}", :method => "POST" }
        %input{ :type => "hidden", :name => "_method", :value => "PUT" }
        %table
          %tr
            %td Id:
            %td= @post.id
          %tr
            %td URL:
            %td= @post.url
          %tr
            %td Page URL:
            %td= @post.page_url
          %tr
            %td Title:
            %td
              %input{ :type => "text", :name => "title", :size => 80, :value => @post.title }
          %tr
            %td Note:
            %td
              %input{ :type => "text", :name => "note", :size => 80, :value => @post.note }
          %tr
            %td
            %td
              %input{ :type => "submit", :value => "Save" }
