!!! XML
!!! Strict

%html
  %head
    %title Sombrero
    %meta{:"http-equiv" => "Content-Type", :comment => "text/html", :charset => "utf-8"}
    - @styles.each do |style|
      %link{:rel => "stylesheet", :type => "text/css", :href => "/#{style}.css"}


  %body
    %div#container
      %div#header
        %h1
          %a{:href => "/"} Sombrero
        %div#menu
          %ul
            %li
              %a{:href => "/clip/new"} Clip a photo
            %li
              %a{:href => "/post/new"} Post a photo
      %div#menuBar
        %ul
          %li
            %a{:href => "/recent/1"} Recent
          %li
            %a{:href => "/list/1"} List
          %li
            Gallery
          %li
            Directory
          %li
            Setting
      %div#content
        != yield
      %div#footer
        = "Powered by Sombrero v.#{SOMBRERO_VERSION}"
