%div#main
  %form{ :action => "/clip", :method => "POST" }
    %table
      %tr
        %td URL:
        %td
          %input{ :type => "text", :name => "url", :size => 100 }
      %tr
        %td Page URL:
        %td
          %input{ :type => "text", :name => "page_url", :size => 100 }
      %tr
        %td Force:
        %td
          %input{ :type => "checkbox", :name => "force" }
      %tr
        %td
        %td
          %input{ :type => "submit", :value => "Clip" }

