#sidebar
  position: absolute
  width: 150px
  margin-left: 0px

  ul
    margin-top: 20px
    margin-left: 20px

#main
  margin-left: 160px

  table
    border-style: solid
    border-width: 1px 0px 1px 0px
    background-color: white

    th
      border-style: solid
      border-width: 1px 0px 1px 0px

    tr
      border-width: 1px 0px 1px 0px
      border-style: dashed
      font-weight: normal
      text-align: left
      vertical-align: top

    td
      border-width: 1px 0px 1px 0px

#tagList
  width: 640px

  th.tagId
    width: 30px

  th.tagName
    width: 180px

  th.tagType
    width: 100px

  th.tagDescription
    width: 300px

  th.tagAliasFor
    width: 180px

  th.tagEdit
    width: 50px
